@font-face {
    font-family: 'Branding';
    src: url('BrandingBold.woff2') format('woff2'),
        url('BrandingBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

